# Haskell / Cabal
dist-newstyle/
*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof
*.hp
*.eventlog
.ghc.environment.*
cabal.project.local
cabal.project.local~

# Legacy C++
*.slo
*.lo
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Output
output.tex
